body {
    background-color: black;
    color: lime;
    font-family: DungGeunMo, sans-serif;
    font-size: large;
}

@font-face {
    font-family: D2Coding;
    src: url(/fonts/D2Coding.ttc);
}

@font-face {
    font-family: DungGeunMo;
    src: url(/fonts/DungGeunMo.woff2);
}