body {
    background-color: black;
    color: lime;
    font-family: DungGeunMo, sans-serif;
    font-size: large;
    width: 90%;
}

hr {
    border-style: dashed;
    background-size: 30px 3px;
}

@font-face {
    font-family: DungGeunMo;
    src: url(/templates/fonts/DungGeunMo.woff2);
}