<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<!--
<link rel="stylesheet" href="/css/stylesheet.css">
-->
<link rel="stylesheet" href="/bootstra.386/dist/css/bootstrap.css">
<body>

<div th:replace="~{html/fragment/header :: header ('/home')}"></div>

<th:block th:replace="~{html/fragment/header :: title ('미션 제목, 주제 등')}" />

<div>
    <p>
        여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다.
        여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다.
        여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다.
    </p>

    <p>
        여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다.
        여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다.
        여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다.
    </p>

    <p>
        여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다.
        여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다.
        여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다. 여기는 내용입니다.
    </p>

</div>

<div>
  <ul>
    <li><a href="/stones/disciple" target="_blank">미션 #1 - 디사이플 스톤</a></li>
      <li><a href="/stones/agape" target="_blank">미션 #2 - 아가페 스톤</a></li>
      <li><a href="/stones/truth" target="_blank">미션 #3 - 트루 스톤</a></li>
      <li><a href="/stones/vision" target="_blank">미션 #4 - 비전 스톤</a></li>
  </ul>
</div>

</body>
</html>