<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <title>스톤 가디언즈의 시험</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">스톤 가디언즈의 시험</a>
        </div>
    </div>
</div>

<div class="container">

    <div class="page-header">
        <h1>콜링 스톤에게 선택받은 자여...</h1>
    </div>

    <section>
        <h1>내용입니다</h1>
        <p>
            법관이 중대한 심신상의 장해로 직무를 수행할 수 없을 때에는 법률이 정하는 바에 의하여 퇴직하게 할 수 있다. 국가는 모성의 보호를 위하여 노력하여야 한다. 국무총리 또는 행정각부의 장은 소관사무에
            관하여 법률이나 대통령령의 위임 또는 직권으로 총리령 또는 부령을 발할 수 있다.
        </p>

        <p>
            모든 국민은 능력에 따라 균등하게 교육을 받을 권리를 가진다. 국무총리는 국회의 동의를 얻어 대통령이 임명한다. 대통령은 국가의 원수이며, 외국에 대하여 국가를 대표한다. 국민경제의 발전을 위한
            중요정책의 수립에 관하여 대통령의 자문에 응하기 위하여 국민경제자문회의를 둘 수 있다.
        </p>

        <p>
            훈장등의 영전은 이를 받은 자에게만 효력이 있고, 어떠한 특권도 이에 따르지 아니한다. 법률안에 이의가 있을 때에는 대통령은 제1항의 기간내에 이의서를 붙여 국회로 환부하고, 그 재의를 요구할 수
            있다. 국회의 폐회중에도 또한 같다.
        </p>
    </section>

    <section>
        <a class="btn btn-block" href="/stones/disciple" target="_blank">미션 #1 - 디사이플 스톤</a></li>
        <a class="btn btn-block" href="/stones/agape" target="_blank">미션 #2 - 아가페 스톤</a></li>
        <a class="btn btn-block" href="/stones/truth" target="_blank">미션 #3 - 트루 스톤</a></li>
        <a class="btn btn-block" href="/stones/vision" target="_blank">미션 #4 - 비전 스톤</a></li>
    </section>

</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/bootstrap/assets/js/jquery.js"></script>
<script src="/bootstrap/assets/js/bootstrap-386.js"></script>
<script src="/bootstrap/assets/js/bootstrap-transition.js"></script>
<script src="/bootstrap/assets/js/bootstrap-alert.js"></script>
<script src="/bootstrap/assets/js/bootstrap-modal.js"></script>
<script src="/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script src="/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
<script src="/bootstrap/assets/js/bootstrap-tab.js"></script>
<script src="/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script src="/bootstrap/assets/js/bootstrap-popover.js"></script>
<script src="/bootstrap/assets/js/bootstrap-button.js"></script>
<script src="/bootstrap/assets/js/bootstrap-collapse.js"></script>
<script src="/bootstrap/assets/js/bootstrap-carousel.js"></script>
<script src="/bootstrap/assets/js/bootstrap-typeahead.js"></script>
<script src="/bootstrap/assets/js/bootstrap-affix.js"></script>

</body>
</html>